{% block personal %}
    <div>
        <h2>Человечек {{ name }}</h2>
        <div>
            <h3>Данные:</h3>
            <ul>
                <li>Возраст: {{ age }}</li>
                <li>Работа: {{ job }}</li>
                <li>Пол: {{ sex }}</li>
            </ul>
        </div>
    </div>
{% endblock personal %}